* {
    color: red;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 40px 20px;
  background: rgba(255, 255, 255, 0.93);
  border-radius: 18px;
  box-shadow: 0 15px 60px rgba(199, 31, 55, 0.3);
}

.container h1 {
  color: blue;
  text-align: center;
  margin-bottom: 20px;
}