* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.div {
    display: block;
    unicode-bidi: isolate;
}

.container {
    box-shadow: rgba(17, 124, 231, 0.3) 0px 15px 60px, rgba(0, 0, 0, 0.2) 0px 5px 15px;
    position: relative;
    background: linear-gradient(180deg, #3033ed, #21b4ef, #fdfdfd);
    padding: 48px 45px;
    border-radius: 18px;
    border-width: 3px;
    border-style: solid;
    border-color: rgb(232, 232, 232);
    border-image: initial;
}

.container h1 {
  color: blue;
  text-align: center;
  margin-bottom: 20px;
}

.container a {
    color: black;
    padding: 50px 20px;
    padding-bottom: 20px;
    position: center;
    

}